---
---

@import "{{ site.theme }}";

header {
  width: 30%;
  // padding: 2% 1% 2% 3%;
  // background-color: #fff4ca;
  padding-bottom: 2%;
  border-right: 2px solid rgb(194, 194, 194);
}

.wrapper {
  width: 80%;
}

.profile-pic {
  margin-bottom: 4%;
  border: 2px solid black;
  border-radius: 50%;
  width: 50%;
}

.icon-links {
  width: 18%;
}

// a.aboutme {
//   color: #BCE3FF;
//   text-decoration: none;
//   font-weight: bold; }

// a.aboutme:hover {
//     color: #62BCFF;
//     font-weight: bold;
//     font-style: italic;
// }

section {
  width: 65%;
}