---
---

@import "{{ site.theme }}";

header {
  width: 20%;
  // padding: 2% 1% 2% 3%;
  // background-color: #fff4ca;
  padding-bottom: 2%;
  border-right: 2px solid rgb(194, 194, 194);
}

h1.header {
	font-size: 40px;
}

.wrapper {
  width: 80%;
}

.profile-pic {
  margin-bottom: 4%;
  border: 2px solid black;
  border-radius: 50%;
  width: 50%;
}

.icon-links {
  width: 15%;
}

// a.aboutme {
//   color: #BCE3FF;
//   text-decoration: none;
//   font-weight: bold; }

// a.aboutme:hover {
//     color: #62BCFF;
//     font-weight: bold;
//     font-style: italic;
// }

section {
  width: 65%;
}

section h3 {
  margin-bottom: 2px;
}

section h2 {
  width: 65%;
  padding: 15px;
  color: #518ab4;
  background-color: #d9edf7;
  background-repeat: repeat-x;
  border: 2px solid #427e9d;
  border-radius: 10px;
}

section h2 em {
  color: #276fa5;
}